@import '../../variables.css';
.header {
  background-color: rgba(0, 0, 0, 0.664);
  border-bottom: 1px solid var(--primary-hover);
  font-family: monospace;
  width: 100%;  /* ✅ Make it responsive */
  max-width: 1280px; /* ✅ Cap it at 1280px */
  margin: 0 auto; /* ✅ Center it */
}

.a {
  text-align: left;
  font-family: monospace;
  font-style: normal;
  font-size: 24px;
  color: var(--primary-color);
}

.table {
width: 100%;
}

.label {
text-align: left;
font-family: monospace;
font-style: normal;
font-size: 24px;
color: var(--primary-color);
}

.divider {
  user-select: none;
}


.leftEntry {
  display: flex;
  text-align: left;
  font-family: monospace;
  font-style: italic;
  font-size: 24px;
  color: var(--primary-color);
}

.rightEntry {
text-align: right;
font-family: monospace;
font-style: normal;
font-size: 16px;
color: var(--text-color);
}

.themeLabel {
  user-select: none;
  color: var(--primary-color);
}

/* Header.module.css */
.themeDropdown {
  color: var(--primary-color);
  border-color: transparent;
  background-color: transparent;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.themeDropdown option {
  background-color: #333; /* Dark background for options */
  padding: 8px; /* Adequate space for each option */
  border: none;
  font-size: 14px;
}

/* Hide the name on smaller screens */
@media (max-width: 600px) {

  .rightEntry {
    text-align: center;
  }
  .leftEntry {
    display: none;
  }

  .themeDropdown {
    display: none;
  }

  .themeLabel {
    display: none;
  }
}


