
/* Default: Retro */
:root {
  --primary-color: rgb(51, 255, 51);
  --primary-hover: rgba(51, 255, 51, 0.7);
  --background: black;
  --text-color: var(--primary-color);
  --button-bg: #222;
  --button-hover: var(--primary-hover);
}

/* Vegas Theme */
[data-theme="vegas"] {
  --primary-color: rgb(255, 174, 82);
  --primary-hover: rgba(250, 154, 38, 0.7);
  --background: black;
  --text-color: var(--primary-color);
  --button-bg: #333;
  --button-hover: var(--primary-hover);
}

/* Classic Theme */
[data-theme="classic"] {
  --primary-color: rgb(230, 230, 230);
  --primary-hover: rgba(230, 230, 230, 0.7);
  --background: black;
  --text-color: var(--primary-color);
  --button-bg: #444;
  --button-hover: var(--primary-hover);
}

[data-theme="sarah"] {
  --primary-color: rgb(251, 146, 242);
  --primary-hover: rgba(251, 146, 242, 0.7);
  --background: black;
  --text-color: var(--primary-color);
  --button-bg: #333;
  --button-hover: var(--primary-hover);
}
