@import '../../variables.css';

.poem {
  text-align: center;
  padding: 1rem;
  margin: 2rem auto;
  max-width: 800px;
}

.title {
  font-size: 18pt;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.verse {
  font-size: 1rem;
  text-align: left;
}
