.header {
    padding: 10px 5px;
    background-color: rgba(0, 0, 0, 0.664);
    border-bottom: 1px solid rgba(51, 255, 51, 0.664);
    font-family: monospace;
    font: monospace;
    width: 1280px;
  }

.table {
  width: 100%;
}

.leftEntry{
  text-align: left;
  font-family: monospace;
  font: monospace;
  font-style: italic;
  font-size: 20px;
}

.rightEntry{
  text-align: right;
  font-family: monospace;
  font: monospace;
  font-style: normal;
  font-size: 14px;
}






  