 .body{
    padding-top: 20px;
    padding-left: 120px;
    padding-right: 120px;
    text-align: left;
 }
 .h1{
    font-family: monospace;
    font: monospace;
    font-style: bold;
    font-size: 14px
 }

 .h2{
   font-family: monospace;
   font: monospace;
   font-size: 14px;
   padding-left: 22px;
 }

 .text{
    font-family: monospace;
    font: monospace;
    font-size: 14px;
    padding-left: 22px;
 }